/* General Styles
-----------------------------------*/
.circle {
  border-radius: 50%;
  width: 179px;
  height: 179px;
  transition: all 1s;
  overflow: hidden;
  position: relative;
}

.logImg {
  border: 2px solid black;
}

.circleRotate {
  display: block;
  margin: auto auto;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  transition: all 1s;
  position:absolute;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.circleRotate:first-child {
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.circle:hover .circleRotate{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.circle:hover .circleRotate:first-child{
  z-index: 1;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg); /* Safari and Chrome */
  -moz-transform: rotateY(0deg); /* Firefox */
}

.profileName {
  letter-spacing: .40rem;
  font-weight: 500;
  margin-bottom: -0.5%;
  color: #212121;
}

.contact {
  margin-bottom: 2%;
  letter-spacing: .15rem;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  color: #757575;
}

.category {
  letter-spacing: .20rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  color: #757575;
}

.category:hover {
  font-weight: 400;
  color: #212121;
}

.categoryDetails {

}

/* ACCORDION CATEGORY ---------------------  */

ul {
  list-style: none;
}
ol {
  list-style: none;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 0;
  font-size: 100%;
}
li {
  margin-bottom: 0rem;
}

.cd-accordion-menu {
	width: 100%;
	max-width: 960px;
	background: white;
	margin: 0 auto;
}
.cd-accordion-menu ul {
	/* by default hide all sub menus */
	display: none;

  /* EXTEND BAR TO OVERALL PAGE */
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #212121;
}
.cd-accordion-menu li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
	/* hide native checkbox */
  display:none;
}
.cd-accordion-menu input[type=checkbox]:checked + label{

}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
