/* General Styles
-----------------------------------*/
html, body {
  overflow-x:hidden;
}

html {
  overflow-y: scroll;
}

strong {
  font-weight: 600;
}

.circle {
  border-radius: 50%;
  width: 179px;
  height: 179px;
  transition: all 1s;
  overflow: hidden;
  position: relative;
}

.logImg {
  border: 2px solid black;
}

.circleRotate {
  display: block;
  margin: auto auto;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  transition: all 1s;
  position:absolute;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.circleRotate:first-child {
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.circle:hover .circleRotate{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.circle:hover .circleRotate:first-child{
  z-index: 1;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg); /* Safari and Chrome */
  -moz-transform: rotateY(0deg); /* Firefox */
}

.profileName {
  letter-spacing: .40rem;
  font-weight: 500;
  margin-bottom: -0.5%;
  color: #212121;
}

.contact {
  letter-spacing: .15rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  color: #757575;
}

.resume {
  margin-bottom: 2%;
  letter-spacing: .15rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  color: #757575;
  text-decoration: none;
}
.resume:hover {
  font-weight: 400;
  color: #212121;
}

.category {
  letter-spacing: .20rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  color: #757575;
  margin-bottom: 3.5%;
}

.category:hover {
  font-weight: 400;
  color: #212121;
}

.outlineEaseIn {
  transition: .1s ease;
}

.outlineEaseIn:hover {
  outline: 10px solid;
  outline-offset: -10px;
}

.categoryDetails {
  letter-spacing: .15rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
}

.categoryDetails_title {
  margin-bottom: 0%;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}

.footer {
  margin-top: 10%;
}

/* ACCORDION CATEGORY ---------------------  */

ul {
  list-style: none;
}
ol {
  list-style: none;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 0;
  font-size: 100%;
}
li {
  margin-bottom: 0rem;
}

.accordion-menu {
	width: 100%;
	max-width: 960px;
	background: white;
	margin: 0 auto;
}
.accordion-menu ul {
	/* by default hide all sub menus */
	display: none;

  /* EXTEND BAR TO OVERALL PAGE */
  margin: 0 -100%;
  /* add back negative margin value */
  padding: 0.25rem 100%;
  background: #212121;
}
.accordion-menu li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.accordion-menu input[type=checkbox] {
	/* hide native checkbox */
  display:none;
}
.accordion-menu input[type=checkbox]:checked + label{

}
.accordion-menu input[type=checkbox]:checked + label + ul,
.accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

/* PROJECT PAGE CATEGORY ---------------------  */
/* NAV BAR :(---------------------  */
.navBar {
  letter-spacing: .20rem;
  font-size: 1.75rem;
  font-weight: 400;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.home {
  letter-spacing: .40rem;
  font-weight: 600;
}

ul.navBarul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
    background: rgba(33, 33, 33, .95);
}

li.navBarli {
    float: right;
}

li.navBarli a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.homeNav {
  float: left;
}

li.homeNav a:hover {
  color: #0FA0CE;
}
li.sideNav a:hover {
  background-color: #0FA0CE;
}
li.hamburgerIcon {
  display: none;
}
li.hamburgerIcon a:hover {
  background-color: #0FA0CE;
}

@media screen and (max-width:550px) {
  ul.navBarul li:not(:first-child) {
    display: none;
  }
  ul.navBarul li.hamburgerIcon {
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width:550px) {
  ul.navBarul.responsive {
    position: relative;
  }
  ul.navBarul.responsive li.hamburgerIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navBarul.responsive li {
    float: none;
    display: inline;
  }
  ul.navBarul.responsive li.sideNav a {
    display: block;
    text-align: center;
    background: rgba(117, 117, 117, .4);
    /* FULL WIDTH EXPAND */
    margin: 0 -9999px;
    /* add back negative margin value */
    padding: 14px 9999px;
  }
  ul.navBarul.responsive li.sideNav a:hover {
    background-color: #0FA0CE;
  }
}

.titleRow {
  text-align: center;
  margin-top: 28px;
}
